// @import "~bootstrap/scss/bootstrap";
@import "./components/NavigationBar.scss";

$body-bg: rgb(0, 0, 0);
$body-color: rgb(255, 255, 255);
$card-bg: #000;

@import '~bootstrap/scss/bootstrap.scss';
